/* ================================= 
  Flex-Flex Styles
==================================== */

.container {
    display: flex;
    /* flex-wrap: wrap; */
    /* default flex-direction is row */
    min-height: 50vh;
}

.item {
    /* margin: auto; */
    align-self: center;
}