/* ================================= 
  Base Element Styles
==================================== */

body {
	line-height: 1.6;
	color: #3a3a3a;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

a { 
	color: #fff;
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	margin: 0;
}

/* ---- Layout Containers ---- */

.container {
	width: 70%;
	margin: 0 auto;
}

#header {
	background: #3acec2;
	padding: 1em 0;
}

#footer {
	text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
}